h1{
    display: inline-block;
    color: #02343F;
}
#nextButton{
    display: block;
}
#brojTacnih{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
body{
    background-color: #F0EDCC;
}

.keyword-true { color: green; }
.keyword-false { color: red; }
.keyword-and { color: blue; }
.keyword-or { color: blue; }
.keyword-not { color: blue; }


.containerFlex{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button{
  background-color: #02343F;
  color: #F0EDCC;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
}

.button3{
    width: 7rem;
    margin-top: 25px;
    margin-left: 25px;
}
